@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    <div class="text">
        <p>
            <b>Fireteam Ares </b> is a small an airsoft team consisting of tightly knit individuals that all enjoy playing airsoft together.
            The team was first formed in 2018 with just two members.
            Currently as of 2020 Fireteam Ares now has five members who all play on a somewhat regular basis.
        </p>
        <p>
            <b>This application</b> was created using ASP.NET MVC5 and utilises entity framework in a code first format to execute queries to a database.
            The database stores both users and images and allows administrator accounts to execute CRUD queries without having to directly access the database.
            Additionally, some queries are executed using jQuery and Ajax via a RESTful web API.
            Other languages used during the creation of the web application include HTML, CSS, and JavaScript
        </p>
    </div>
</div>

