@model  IEnumerable<FTATeam_ASPNetMVC5.Models.TeamImage>
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Images</h2>

    <div class="card-group">
        <div class="row">
        </div>
    </div>

    <div class="focused-box">
        <img class="focused-img" src="" alt="" />
        <div class="item-group">
            @if (User.Identity.IsAuthenticated)
            {
                <button id='delete' class='delete btn btn-secondary'>Delete</button>
                <a id='update' class='update btn btn-secondary'>Update</a>
            }
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Add", "New", "TeamImages", null, new { @class = "btn btn-secondary" })
    }
</div>


@section scripts
{

    @Scripts.Render("~/Scripts/getImages.js");

    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/deleteImage.js");
        @Scripts.Render("~/Scripts/updateImage.js");

    }
}
